@inherits System.Web.Mvc.WebViewPage<EDDY.IS.FormsEngine.Services.Models.ThankYouModel>
<script src="@(Url.Action("GetJs", "Static", new { BasePath = "Common", FileName="thankyou", CompressJs= false }, Url.RequestContext.HttpContext.Request.Url.Scheme))" type="text/javascript"></script>

<!-- START ThankYou Google Tag Events-->
@System.Web.Mvc.Html.PartialExtensions.Partial(this.Html, "~/Templates/Common/ThankYouGoogleTag.cshtml", this.Model.UserSelectionProgramIdList)
<!-- END ThankYou Google Tag Events-->

<!-- START Image Check -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.school-logo').checkImages();
    });
</script>
<!-- END Image Check -->

<div class="eddy-form-wizard-container pie">

    <div id="eddy-form-wizard-thankyou-header" class="eddy-form-wizard-header"></div><!-- end of #eddy-form-wizard-header -->
    <div class="eddy-form-wizard-body col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 clearfix">

        <div class="steps thank-you-page" id="thank-you-page">
            <div class="thank-you-page-message">
                <h2>Thanks @Model.UserFullName for letting us help you take the first step in your educational journey!</h2>
                @if (Model.SubmissionsFailed)
                {
                <p>Unfortunately we are unable to match you to one or more of the programs you requested.<br /><br />Your information has been sent to:</p>
                }
                else
                {
                <p>Your information has been sent to:</p>
                }
            </div>

            <!--div class="online-school-submitted"-->
            <!--h5 class="submitted-school-msg online-msg">Your information has been submitted to following <strong>Online</strong> schools:</h5-->
            <div class="image-text-group clearfix">
                <div class="image-text">
                    @if (Model.OnlineCampuses.Count > 0)
                    {
                        foreach (var Campus in Model.OnlineCampuses)
                        {
                                if (Campus.ShowLogo)
                                {
                                    <div class="school-logo vertical-center"  data-src="@Campus.Logo" data-src-name="@Campus.CampusName">
                                        <img class="img-responsive" src="" />
                                    </div>
                                }
                        }
                    }

                    @if (Model.GroundCampuses.Count > 0)
                    {
                        foreach (var Campus in Model.GroundCampuses)
                        {
                                if (Campus.ShowLogo)
                                {
                                    <div class="school-logo vertical-center"  data-src="@Campus.Logo" data-src-name="@Campus.CampusName">
                                        <img class="img-responsive" src="" />
                                    </div>
                                }
                        }
                    }
                </div>
            </div>
            <!--/div-->


            <div id="info-popup" class="popup-info hide">Description GOES HERE!</div>
    </div>

        <div class="eddy-form-wizard-footer clearfix">
            <a href="javascript:FormsEngine.LoadWorkflowStep('START','');">
                <div class="form-submit-button previous clearfix" id="form-navback-button" >
				    <span>BACK</span>
                </div>
            </a>
		</div><!-- end of #eddy-form-footer -->
	</div><!-- end of ##eddy-form-wizard-body -->
</div><!-- end of #eddy-form-wizard-container -->
<!-- LeadList: @(Model.LeadList) -->