@inherits System.Web.Mvc.WebViewPage<EDDY.IS.FormsEngine.Services.Models.ManagedChoiceModel>
@using EDDY.IS.FormsEngine.Services.Controllers.Common
@Html.InlineScriptBlock("~/Templates/Common/js/ManagedChoice.js")
@Html.InlineScriptBlock("~/Templates/Common/js/jqueryjson24min.js")
@Html.InlineScriptBlock("~/Templates/WizardDrip/js/WizardDrip_ManagedChoice.js")

@{
    #region data logic

    #region set data values specific to this rendering strategy (UI)

    int RSMaxProgramNameLength = 40;
    int RSMaxProgramDescriptionLength = 170;
    int RSMaxSchoolNameLength = 40;
    int RSMaxSchoolDescriptionLength = 170;

    // messages
    string DISCLAIMER_REFERENCE = Model.GetResourceMetaDataText("VIEW.DISCLAIMER_REFERENCE");
    string DISCLAIMER_REFERENCE_LINK = Model.GetResourceMetaDataText("VIEW.DISCLAIMER_REFERENCE_LINK");
    string SPONSORED_LISTINGS_TEXT = Model.GetResourceMetaDataText("VIEW.SPONSORED_LISTINGS_TEXT");
    string SUBMIT_BUTTON_TEXT = (Model.HasSmartMatchPrograms) ? Model.GetResourceMetaDataText("VIEW.SUBMIT_BUTTON_TEXT") : Model.GetResourceMetaDataText("VIEW.SUBMIT_BUTTON_TEXT_NO_SM");
    string PROGRAM_START_DATE_MESSAGE = Model.GetResourceMetaDataText("VIEW.PROGRAM_START_DATE_MESSAGE");

    #endregion

    #region set other data points
    string[] UserNameSplit = Model.UserFullName.Split(' ');
    string UserFirstName = UserNameSplit[0];
    string disclaimerReference;
    string disclaimer;
    int usOnlineSchoolsCount;
    int usGroundSchoolsCount;
    #endregion

    #region determine data for this rendering strategy
    // EC SS Messages
    usOnlineSchoolsCount = Model.SchoolSelectionList.Where(s => s.CampusType == EDDY.IS.FormsEngine.MatchingEngine.CampusType.Online).Count();
    usGroundSchoolsCount = Model.SchoolSelectionList.Where(s => s.CampusType == EDDY.IS.FormsEngine.MatchingEngine.CampusType.Ground).Count();
    EDDY.IS.FormsEngine.DTO.MatchMessageResultsDTO MatchMessageResults = EDDY.IS.FormsEngine.FormsEngine.GetECSchoolSelectionMessages(UserNameSplit[0], SUBMIT_BUTTON_TEXT, Model.ExpressConsentCheck.Version, Model.CampusSoftPreferenceShown, Model.CampusSoftPreference, usOnlineSchoolsCount, usGroundSchoolsCount, Model.HasSmartMatchPrograms);
    #endregion

    #endregion

}

<script type="text/javascript">
    FormsEngine.CurrentSmartMatches = @(Model.HasSmartMatchPrograms && Model.SmartMatchList != null ? Model.SmartMatchList.Count : 0);
    FormsEngine.MobilePhones = [@(string.Join(",", Model.ExpressConsentCheck.MobilePhones))];
    jQuery.each(FormsEngine.MobilePhones, function( index, value ) {
        FormsEngine.MobilePhones[index] = FormsEngine.MobilePhones[index].toString();
    });
</script>

<!-- START Image Check -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.school-logo').checkImages();
    });
</script>
<!-- END Image Check -->

<!-- START ManagedChoice Google Tag Events-->
@System.Web.Mvc.Html.PartialExtensions.Partial(this.Html, "~/Templates/Common/ManagedChoiceGoogleTag.cshtml", this.Model)
<!-- END ManagedChoice Google Tag Events-->

<div id="eddy-form-wizard-managedchoice-container" class="eddy-form-wizard-container pie">
    <div id="eddy-form-container" class="eddy-form-wizard-body">
        @System.Web.Mvc.Html.PartialExtensions.Partial(this.Html, "~/Templates/Common/Components/SponsoredListingPopUp.cshtml", new EDDY.IS.FormsEngine.Services.Models.SponsoredListingModel(this.Model))
        <form id="eddynexusform-wizard-managedchoice" class="eddynexusform" name="eddynexusform-wizard-managedchoice">
            <div id="msg_top_message">

                <span data-name="msg_name_text" class="msg_name_text thank-you-msg">@MatchMessageResults.NameText</span>
                <span data-name="msg_no_smart_match_1" class="msg_no_smart_match_1">@MatchMessageResults.NoSmartMatchMessage1</span>
                <span data-name="msg_smart_match_1" class="msg_smart_match_1">@MatchMessageResults.SmartMatchMessage1</span>
            </div>
            <!-- Begin SM Area -->
            @{
                if (Model.HasSmartMatchPrograms)
                {
                    <div id="mc-SM-Area" class="mc-SM-Area">

                        <div id="mc-SM-Display" class="mc-SM-Display">

                            <ul class="sm-school">
                                @{
                                    System.Text.StringBuilder smDisclaimers = new System.Text.StringBuilder();

                                    foreach (var school in Model.SmartMatchList)
                                    {
                                        //prepare data before using in UI - START
                                        // program name
                                        // copied from EddyForms CrossSell - if the prog name is longer than the rendering strategy’s program name area can support, use breadcrumbs for the name
                                        string programNameShort = school.ProgramName;
                                        if (programNameShort.Length > RSMaxProgramNameLength)
                                        {
                                            if (programNameShort.Substring(RSMaxProgramNameLength, 1) == " ") // if at the max length it ends with a space, just append ...
                                            {
                                                programNameShort = programNameShort.Substring(0, RSMaxProgramNameLength) + "...";
                                            }
                                            else
                                            {
                                                int endPosition = programNameShort.LastIndexOf(' ', RSMaxProgramNameLength);
                                                programNameShort = programNameShort.Substring(0, endPosition + 1) + "...";
                                            }
                                        }


                                        // program description
                                        // copied from EddyForms CrossSell
                                        string programDescriptionShort = (school.ProgramDescription != null) ? System.Text.RegularExpressions.Regex.Replace(school.ProgramDescription, @"<(.|\n)*?>", string.Empty) : "";
                                        if (programDescriptionShort.Length > RSMaxProgramDescriptionLength)
                                        {
                                            if (programDescriptionShort.Substring(RSMaxProgramDescriptionLength, 1) == " ")
                                            {
                                                programDescriptionShort = programDescriptionShort.Substring(0, RSMaxProgramDescriptionLength) + "...";
                                            }
                                            else
                                            {
                                                int endPosition = programDescriptionShort.IndexOf(' ', RSMaxProgramDescriptionLength);
                                                programDescriptionShort = programDescriptionShort.Substring(0, endPosition + 1) + "...";
                                            }
                                        }

                                        // logo

                                        string logoFullURL = !string.IsNullOrEmpty(school.CampusLogoURL) ?
                                  Model.EddyLogos.EddyLogoImagePathDomain + school.CampusLogoURL.Replace("{FILENAME}", string.Format(Model.EddyLogos.EddyLogoImageFileName, Model.EddyLogos.EddyLogoImageSizeSmall)) :
                                  Model.EddyLogos.EddyLogoImagePathDomain + school.InstitutionLogoURL.Replace("{FILENAME}", string.Format(Model.EddyLogos.EddyLogoImageFileName, Model.EddyLogos.EddyLogoImageSizeSmall));

                                        // input ID
                                        string inputID = "crossSellProgram" + school.ProgramProductId.ToString();

                                        // ground campus flag
                                        bool isGroundCampus = (school.CampusType.ToString().ToLower() == "ground") ? true : false;
                                        string campusTypeFlagCssClass = (school.CampusType.ToString().ToLower() == "ground") ? "groundcampusflag" : "onlinecampusflag";

                                        // disclosures
                                        disclaimerReference = "";
                                        disclaimer = "";
                                        if (school.InstitutionDisclaimer != null && school.InstitutionDisclaimer.Length > 0 && school.InstitutionDisclaimerType != null)
                                        {
                                            disclaimerReference = string.Format(DISCLAIMER_REFERENCE, Model.DisclaimerCounter.ToString(), "");
                                            disclaimer = (school.InstitutionDisclaimerType == EDDY.IS.FormsEngine.MatchingEngine.DisclaimerType.Link) ? "<p>" + string.Format(DISCLAIMER_REFERENCE, Model.DisclaimerCounter.ToString(), string.Format(DISCLAIMER_REFERENCE_LINK, school.InstitutionName, school.InstitutionDisclaimer)) + "</p>" : "<p>" + string.Format(DISCLAIMER_REFERENCE, Model.DisclaimerCounter.ToString(), school.InstitutionDisclaimer) + "</p>";
                                            smDisclaimers.Append(disclaimer);
                                            Model.DisclaimerCounter++;
                                        }

                                        string institutionDescription = school.InstitutionDescription;

                                        //prepare data before using in UI - END
                                        <li name="mc-us-schoolcontainer" class="mc-sm-program School-@school.CampusType"
                                            data-institution-name="@school.InstitutionName"
                                            data-institution-description="@Server.UrlEncode(institutionDescription)"
                                            data-institution-disclaimer="@Server.UrlEncode(school.InstitutionDisclaimer)"
                                            data-institution-disclaimer-type="@school.InstitutionDisclaimerType"
                                            data-isgroundcampus="@isGroundCampus"
                                            data-campus-name="@school.CampusName"
                                            data-campus-city="@school.CampusCity"
                                            data-campus-state="@school.CampusState"
                                            data-program-name="@school.ProgramName"
                                            data-program-description="@Server.UrlEncode(school.ProgramDescription)"
                                            data-program-disclaimer="@Server.UrlEncode(school.ProgramDisclaimer)"
                                            data-program-disclaimer-type="@school.ProgramDisclaimerType"
                                            data-programproductid="@school.ProgramProductId"
                                            data-templateid="@school.TemplateId">
                                            <div class="@campusTypeFlagCssClass">
                                                <div class="cover-sm-school"></div>
                                                <div class="school-logo" data-src="@logoFullURL" data-src-name="@school.CampusName">
                                                    <a href="#" class="sm-institution-popup-link">
                                                        <img src="" />
                                                    </a>
                                                </div>

                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                            <div id="sm-institution-popup" class="sm-institution-popup popup-info hide">sm-institution-popup GOES HERE!</div>
                            <div id="sm-program-popup" class="sm-program-popup popup-info hide">sm-program-popup GOES HERE!</div>
                        </div>
                    </div>
                }
            }

            <!-- End SM Area -->
            <!-- Begin US Area -->
            @{
                if (Model.HasUserSelectPrograms)
                {

                    <div id="msg_bottom_message">
                        @{
                            if (Model.HasSmartMatchPrograms && Model.HasUserSelectPrograms)
                            {
                                <h3 data-name="msg_user_select_1" class="msg_user_select_1">@MatchMessageResults.UserSelectMessage1</h3>
                            }
                        }
                        <span data-name="msg_user_select_2" class="msg_user_select_2">@MatchMessageResults.UserSelectMessage2</span>
                    </div>
                    <div class="sponsored_listings">@SPONSORED_LISTINGS_TEXT</div>
                    <div id="OnlineCampusTabs">
                        <div id="OnlineTab" class="hide"></div>
                        <div id="CampusTab" class="hide"></div>
                    </div>
                }
            }
            <div id="mc-us-choice-list">
                @{
                    if (Model.HasUserSelectPrograms)
                    {

                        <div id="mc-US-Area" class="mc-US-Area field-holder">
                            <fieldset>
                                <ul id="mc-US-Display" class="mc-US-Display field-holder-group">
                                    @{
                                        System.Text.StringBuilder usDisclaimers = new System.Text.StringBuilder();
                                        List<int?> programTemplateIds = new List<int?>();

                                        foreach (var school in Model.SchoolSelectionList)
                                        {

                                            //prepare data before using in UI - START
                                            // school name
                                            // copied from EddyForms CrossSell - if the prog name is longer than the rendering strategy’s program name area can support, use breadcrumbs for the name
                                            string schoolNameShort = school.InstitutionName;
                                            if (schoolNameShort.Length > RSMaxSchoolNameLength)
                                            {
                                                if (schoolNameShort.Substring(RSMaxSchoolNameLength, 1) == " ") // if at the max length it ends with a space, just append ...
                                                {
                                                    schoolNameShort = schoolNameShort.Substring(0, RSMaxSchoolNameLength) + "...";
                                                }
                                                else
                                                {
                                                    int endPosition = schoolNameShort.LastIndexOf(' ', RSMaxSchoolNameLength);
                                                    schoolNameShort = schoolNameShort.Substring(0, endPosition + 1) + "...";
                                                }
                                            }

                                            // school description
                                            // copied from EddyForms CrossSell - if the prog name is longer than the rendering strategy’s program name area can support, use breadcrumbs for the name
                                            string schoolDescriptionShort = school.InstitutionDescription;
                                            if (schoolDescriptionShort.Length > RSMaxSchoolDescriptionLength)
                                            {
                                                if (schoolDescriptionShort.Substring(RSMaxSchoolDescriptionLength, 1) == " ") // if at the max length it ends with a space, just append ...
                                                {
                                                    schoolDescriptionShort = schoolDescriptionShort.Substring(0, RSMaxSchoolDescriptionLength) + "...";
                                                }
                                                else
                                                {
                                                    int endPosition = schoolDescriptionShort.LastIndexOf(' ', RSMaxSchoolDescriptionLength);
                                                    schoolDescriptionShort = schoolDescriptionShort.Substring(0, endPosition + 1) + "...";
                                                }
                                            }

                                            // logo

                                            string logoFullURL = !string.IsNullOrEmpty(school.CampusLogoURL) ?
                                  Model.EddyLogos.EddyLogoImagePathDomain + school.CampusLogoURL.Replace("{FILENAME}", string.Format(Model.EddyLogos.EddyLogoImageFileName, Model.EddyLogos.EddyLogoImageSizeSmall)) :
                                  Model.EddyLogos.EddyLogoImagePathDomain + school.InstitutionLogoURL.Replace("{FILENAME}", string.Format(Model.EddyLogos.EddyLogoImageFileName, Model.EddyLogos.EddyLogoImageSizeSmall));

                                            // ground campus flag
                                            bool isGroundCampus = (school.CampusType.ToString().ToLower() == "ground") ? true : false;
                                            decimal distanceFromProspectCleaned = (isGroundCampus && school.DistanceFromProspect != null) ? Math.Round(Convert.ToDecimal(school.DistanceFromProspect), 2) : Convert.ToDecimal(0.00);
                                            string campusTypeFlagCssClass = (school.CampusType.ToString().ToLower() == "ground") ? "groundcampusflag" : "onlinecampusflag";
                                            string institutionDescription = school.InstitutionDescription;

                                            string startDate = string.Empty;
                                            if (school.StartDateList != null)
                                            {
                                                if (school.StartDateList.Length > 0)
                                                {
                                                    List<DateTime> dateList = school.StartDateList.Select(dt => DateTime.Parse(dt)).ToList();
                                                    List<DateTime> futureDateList = dateList.Where(dt => dt >= DateTime.Today).ToList();
                                                    if (futureDateList != null)
                                                    {
                                                        if (futureDateList.Count > 0)
                                                        {
                                                            if (futureDateList.FirstOrDefault() != null)
                                                            {
                                                                DateTime startDateTime = futureDateList.FirstOrDefault();

                                                                startDate = string.Format(PROGRAM_START_DATE_MESSAGE, startDateTime.ToString("MMMM dd, yyyy"));

                                                            }
                                                        }
                                                    }
                                                }
                                            }



                                            //prepare data before using in UI - END

                                            <li name="mc-us-schoolcontainer" class="mc-us-school School-@school.CampusType"
                                                data-institution-name="@school.InstitutionName"
                                                data-institution-description="@Server.UrlEncode(institutionDescription)"
                                                data-institution-disclaimer="@Server.UrlEncode(school.InstitutionDisclaimer)"
                                                data-institution-disclaimer-type="@school.InstitutionDisclaimerType"
                                                data-isgroundcampus="@isGroundCampus"
                                                data-campusid="@school.CampusId"
                                                data-campus-name="@school.CampusName"
                                                data-campus-city="@school.City"
                                                data-campus-state="@school.State"
                                                data-hideschoolfromtcpa="@school.Is2USchool.ToString().ToLower()"
                                                data-distancetoprospect="@distanceFromProspectCleaned">
                                                <div class="@campusTypeFlagCssClass">
                                                    <div class="mc-us-checkbox">
                                                        <input name="ms-us-school-checkbox" class="ms-us-school-checkbox" type="checkbox" data-campusid="@school.CampusId" />
                                                        @{
                                                            if (isGroundCampus)
                                                            {
                                                                <p>@distanceFromProspectCleaned</p>
                                                                <span>mi</span>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="us-institution-info">
                                                        <div class="us-institution-logo">
                                                            <a href="#" class="us-institution-popup-link">
                                                                <img src="@logoFullURL" />
                                                            </a>
                                                        </div>
                                                        <div class="school-name">
                                                            <a href="#" class="us-institution-popup-link" name="us-institution-popup-link">@school.InstitutionName</a>
                                                            @if (!string.IsNullOrWhiteSpace(startDate))
                                                            {
                                                                <div class="school-start-date">@startDate</div>
                                                            }

                                                        </div>
                                                        @{
                                                            if (isGroundCampus)
                                                            {
                                                                <div class="campus-location">@school.City, @school.State</div>
                                                            }
                                                        }
                                                        @{
                                                            bool singleProgram = school.ProgramList != null && school.ProgramList.Count() == 1;
                                                        }
                                                        <div class="select-program">
                                                            <p>Select your program of interest:</p>
                                                        </div>
                                                        <select name="mc-us-program-ddl" class="mc-us-program-ddl select-field @(singleProgram?"select-singleitem":"")" data-campusid="@school.CampusId">
                                                            @{
                                                                var programByDegreeLevel = from program in school.ProgramList
                                                                                           group program by program.ProgramLevelName
                                                                                               into programGroup
                                                                                           select new { ProgramLevelName = programGroup.Key, Programs = programGroup.ToList() };

                                                                bool userDesiredProgramLevelIdExists = false;
                                                                if (Model.UserDesiredProgramLevelId > 0)
                                                                {
                                                                    foreach (var p in school.ProgramList)
                                                                    {
                                                                        if (p.ProgramLevelId == Model.UserDesiredProgramLevelId)
                                                                        {
                                                                            userDesiredProgramLevelIdExists = true;
                                                                            break;
                                                                        }
                                                                    }
                                                                }

                                                                foreach (var programLevelName in programByDegreeLevel.OrderBy(p => p.ProgramLevelName))
                                                                {
                                                                    decimal maxProgramRankScore = 0;
                                                                    bool selectedLevel = false;
                                                                    bool selectedProgram = false;

                                                                    if (userDesiredProgramLevelIdExists)
                                                                    {
                                                                        if (programLevelName.Programs[0].ProgramLevelId == Model.UserDesiredProgramLevelId)
                                                                        {
                                                                            selectedLevel = true;
                                                                            maxProgramRankScore = (from p in programLevelName.Programs
                                                                                                   select p.ProgramRankScore).Max();
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        maxProgramRankScore = (from p in school.ProgramList
                                                                                               select p.ProgramRankScore).Max();
                                                                    }

                                                                    <optgroup label="@programLevelName.ProgramLevelName"
                                                                              data-degree-level-name="@programLevelName.Programs[0].ProgramLevelName"
                                                                              data-degree-level-id="@programLevelName.Programs[0].ProgramLevelId"
                                                                              data-userselectedlevelid="@programLevelName.Programs[0].ProgramLevelId"
                                                                              data-selectedlevel="@selectedLevel"
                                                                              data-maxscore="@maxProgramRankScore.ToString()">
                                                                        @{
                                                                            bool selectionAlreadyMade = false;
                                                                            foreach (var program in programLevelName.Programs.OrderBy(p => p.ProgramName))
                                                                            {
                                                                                //if we have not added this to our list of possible program template ids then add it.
                                                                                if (program.TemplateId != null && !programTemplateIds.Contains(program.TemplateId))
                                                                                {
                                                                                    if (Model.AlreadyAskedTemplateIds != null && !Model.AlreadyAskedTemplateIds.Contains(Convert.ToInt32(program.TemplateId)))
                                                                                    {
                                                                                        programTemplateIds.Add(program.TemplateId);
                                                                                    }
                                                                                    else if (Model.AlreadyAskedTemplateIds == null)
                                                                                    {
                                                                                        programTemplateIds.Add(program.TemplateId);
                                                                                    }
                                                                                }
                                                                                selectedProgram = false;
                                                                                if (Decimal.Equals(program.ProgramRankScore, maxProgramRankScore) && !selectionAlreadyMade && (!userDesiredProgramLevelIdExists || userDesiredProgramLevelIdExists && selectedLevel))
                                                                                {
                                                                                    selectedProgram = true;
                                                                                    selectionAlreadyMade = true;
                                                                                }

                                                                                bool hasProgramDescription = false;
                                                                                // hack to avoid ME having to pass too much unnecessary data
                                                                                if (program.ProgramDescription != null && program.ProgramDescription == "1"
                                                                                    ||
                                                                                    program.ProgramDisclaimer != null && program.ProgramDisclaimer == "1")
                                                                                {
                                                                                    hasProgramDescription = true;
                                                                                }

                                                                                <option value="@program.ProgramProductId"
                                                                                        data-campusid="@school.CampusId"
                                                                                        data-program-name="@program.ProgramName"
                                                                                        data-programid="@program.ProgramId"
                                                                                        data-programproductid="@program.ProgramProductId"
                                                                                        data-programdegreelevelid="@program.ProgramLevelId"
                                                                                        data-program-level-name="@program.ProgramLevelName"
                                                                                        data-templateid="@program.TemplateId"
                                                                                        data-programrankscore="@program.ProgramRankScore"
                                                                                        data-hasprogramdescription="@hasProgramDescription"
                                                                                        data-programtype="@program.ProgramType"
                                                                                        data-showtwoucheckbox="@program.ShowTwoULeadShareControl"
                                                                                        @(selectedProgram ? "selected=selected" : "")>
                                                                                    @program.ProgramName
                                                                                </option>
                                                                            }
                                                                        }
                                                                    </optgroup>
                                                                }
                                                            }
                                                        </select>

                                                        <div class="program-info"><a href="#" name="us-program-popup-link" class="us-program-popup-link hide">[Program Information]</a></div>
                                                        <!--placeholder div for potential additional questions to apply for this program.-->
                                                        <div name="mc-SM-additional-questions"></div>


                                                    </div>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div id="us-institution-popup" class="us-institution-popup popup-info hide">us-institution-popup GOES HERE!</div>
                                <div id="us-institution-disclaimer-popup" class="us-institution-disclaimer-popup popup-info hide">us-institution-disclaimer-popup GOES HERE!</div>
                                <div id="us-program-popup" class="us-program-popup popup-info hide">us-program-popup GOES HERE!</div>
                            </fieldset>
                            <div id="mc-SM-additional-questions-templates-used" data-program-templates-used="@string.Join(",", programTemplateIds.ToArray())"></div>
                        </div>
                        <div class="sponsored_listings">@SPONSORED_LISTINGS_TEXT</div>
                    }
                }
                <!-- End US Area -->
                <div id="dvManagedChoiceError" class="error-summary hide"></div>
                <div id="dvMCExpressConsent" class="managedchoice-express-consent field-holder">
                    <input id="ckbExpressConsent" name="leadid_tcpa_disclosure_2" type="checkbox" value="" /><label for="ckbExpressConsent" class="express-consent-black"></label>
                </div>
                @System.Web.Mvc.Html.PartialExtensions.Partial(this.Html, "~/Templates/Common/ManagedChoiceDisclaimer.cshtml", this.Model)


                <div class="form-submit-button clearfix">
                    <div id="managechoice-form-submit-button" name="managechoice-form-submit-button" class="form-submit-button clearfix" smart-match="@Model.HasSmartMatchPrograms">
                    </div>
                </div>
                @{
                    if (Model.HasSmartMatchPrograms)
                    {
                        <div class="form-nothanks-button" name="form-nothanks-button"><span id="form-nothanks-button-label">No thanks, skip to confirmation</span></div>
                    }
                }
                <div class="financial-available"></div>
            </div>     <!-- end of div id="mc-us-choice-list" -->
        </form>
        <div class="eddy-form-wizard-footer"></div>
    </div><!-- end of #eddy-form-container -->
</div><!-- end of #eddy-form-wizard-managedchoice-container -->
