@inherits System.Web.Mvc.WebViewPage<EDDY.IS.FormsEngine.Services.Models.FormEngineModel>
@using EDDY.IS.FormsEngine.Services.Controllers.Common

@Html.InlineScriptBlock("~/Templates/Common/js/External/LeadPingv3.js")
<script type="text/javascript" src="@(Url.Action("GetWizardTemplateJS","TemplateManager",new { TemplateId = Model.DynamicControlsJavascriptURLArguments.TemplateId, RenderingStrategy=Model.DynamicControlsJavascriptURLArguments.RenderingStrategy, IsBeta=Model.DynamicControlsJavascriptURLArguments.IsBeta, IgnoreTemplateCache = Model.DynamicControlsJavascriptURLArguments.IgnoreTemplateCache, SeedToken = Guid.NewGuid().ToString() }, Url.RequestContext.HttpContext.Request.Url.Scheme))"></script>
@Html.InlineScriptBlock("~/Templates/WizardPlain/js/WizardPlain_Start.js")

@{
    const string DEFAULTDDLSELECTOPTION = "Select one of the following...";
}

<div id="ErrorBoxX">
    @foreach (var controlType in this.Model.ControlTypes)
    {
        foreach (var error in controlType.ErrorMessages)
        {
            <input type="hidden" code="ERR_@(error.ErrorCode.Code)_{@controlType.StandardControlTypeName}" value="@error.Message" />
        }
    }
</div>
<div class="eddy-form-wizard-container pie" id="WizardStepContainer">
    <div class="eddy-form-wizard-body">
        @System.Web.Mvc.Html.PartialExtensions.Partial(this.Html, "~/Templates/Common/Components/SponsoredListingPopUp.cshtml", new EDDY.IS.FormsEngine.Services.Models.SponsoredListingModel(this.Model))
        <form id="eddynexusform-wizard" name="eddynexusform-wizard" templateid="@Model.Template.TemplateId" method="POST" action="javascript:void(0)" autocomplete="on" data-tf-element-role="offer">
            @{
                int StepCount = 0;
                var inlineDropDown = Model.Template.InlineDropDowns;
            }

            <div id="ErrorMessage" style="margin-top:20px;" class="error-summary"></div>
            @foreach (var step in this.Model.Template.TemplateSteps.OrderBy(t => t.Sequence))
            {
                StepCount++;
                int SectionCount = 0;
                <div name="step" class="steps" id="Step@(StepCount)" data-step="@(StepCount)" @(StepCount > 1 ? "style=display:none" : "")>
                    <div class="form-page-step-message">
                        <h3>@step.Name</h3>
                    </div>
                    @foreach (var sect in step.TemplateSections.OrderBy(s => s.Sequence))
                    {
                        var sectionName = sect.Name;
                        var isControlGroupSection = sect.StandardControlGroup != null;
                        var startedGroup = false;
                        var controlGroupSectionName = isControlGroupSection ? sect.StandardControlGroup.StandardControlGroupName.Replace(" ", "") : "";
                        SectionCount++;

                        <fieldset name="section" class="sections" id="Section@(SectionCount)" data-iscontrolgroup="@(isControlGroupSection)" data-controlgroupname="@(controlGroupSectionName)">
                            @(!string.IsNullOrEmpty(sectionName) ? Html.Raw("<legend>" + sectionName + "</legend>") : Html.Raw(""))

                            @foreach (var control in sect.TemplateControls.OrderBy(c => c.RowSequence))
                            {
                                string ControlLabel;
                                if (control.StandardControl.StandardControlType.StandardControlTypeName.ToLower() == "check box")
                                {
                                    ControlLabel = string.IsNullOrWhiteSpace(control.InstanceLabel) ? control.StandardControl.DefaultLabel : control.InstanceLabel;
                                }
                                else
                                {
                                    ControlLabel = string.IsNullOrWhiteSpace(control.InstanceLabel) ? "" : control.InstanceLabel;
                                }
                                var ControlLabelRequired = control.IsRequired == true && !string.IsNullOrWhiteSpace(ControlLabel) ? "*" : "";
                                var ControlNoLabelRequired = control.IsRequired == true && string.IsNullOrWhiteSpace(ControlLabel) ? "*" : "";
                                var ControlTypeName = control.StandardControl.StandardControlType.StandardControlTypeName;
                                var ControlCode = control.StandardControl.StandardControlCode.Code;
                                var CustomValidation = control.StandardControl.StandardControlValidations.Count > 0 ? control.StandardControl.StandardControlValidations.First().ValidationLibrary : null;
                                var ValidationLibrary = CustomValidation != null ? "customRegex=" + CustomValidation.Expression + " customErrorCode=" + CustomValidation.ErrorCode.Code : "";
                                var AutocompleteText = !string.IsNullOrWhiteSpace(control.StandardControl.AutoCompleteName) ? "autocomplete=" + control.StandardControl.AutoCompleteName : "";
                                bool IsPredefinedValueList = control.StandardControl.PreDefinedValueList != null && control.StandardControl.PreDefinedValueList.ValueListItems != null;
                                bool IsMatchingEngineAdditionalField = IsPredefinedValueList && control.StandardControl.PreDefinedValueList.IsMatchingEngineAdditionalField;
                                bool IsCampusPreference = control.StandardControl.StandardControlCode.Code == "CampusPreference";
                                bool IsGreenCard = control.StandardControl.StandardControlCode.Code == "GCH";
                                bool IsSearchablePredfinedValueList = control.StandardControl.SearchablePredefinedValueList.HasValue ? control.StandardControl.SearchablePredefinedValueList.Value : false;
                                bool typeahead = control.IsTypeAhead.HasValue && control.IsTypeAhead.Value;

                                switch (control.StandardControl.StandardControlType.StandardControlTypeName)
                                {
                                    case "Hidden":
                                        <input type="hidden" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" id="@control.TemplateControlId" id-sort="@control.RowSequence" code="@ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" value="@control.StandardControl.DefaultValue" name="@control.StandardControl.FieldName" />
                                        break;
                                    case "Text Box":
                                        <div class="field-holder @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName">
                                            @if (!string.IsNullOrEmpty(ControlLabel))
                                            {
                                                <label data-hidelabelonmobile="@control.HideLabelOnMobile" for="@control.TemplateControlId">
                                                    @(ControlLabel + ControlLabelRequired)
                                                </label>
                                            }
                                            @if (ControlCode == "Email")
                                            {
                                                <input type="email" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" value="@control.StandardControl.DefaultValue" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="text-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@(control.InstanceWaterMark + ControlNoLabelRequired)" data-placeholder-notmobile="@control.InstanceWaterMark" data-placeholder-mobile="@control.InstanceMobileWaterMark" @(AutocompleteText) /><span class="required-with-no-label hide">@ControlNoLabelRequired</span>
                                            }
                                            else if (ControlCode == "Age")
                                            {
                                                <input type="tel" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" value="@control.StandardControl.DefaultValue" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="text-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@(control.InstanceWaterMark + ControlNoLabelRequired)" data-placeholder-notmobile="@control.InstanceWaterMark" data-placeholder-mobile="@control.InstanceMobileWaterMark" @(AutocompleteText) /><span class="required-with-no-label hide">@ControlNoLabelRequired</span>
                                            }
                                            else if (ControlCode == "Phone" || ControlCode == "Alternate_Phone")
                                            {
                                                <input type="tel" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" value="@control.StandardControl.DefaultValue" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="text-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@(control.InstanceWaterMark + ControlNoLabelRequired)" data-placeholder-notmobile="@control.InstanceWaterMark" data-placeholder-mobile="@control.InstanceMobileWaterMark" mask="@control.StandardControl.Mask" @(AutocompleteText) /><span class="required-with-no-label hide">@ControlNoLabelRequired</span>
                                            }
                                            else if (ControlCode == "Postal_Code" || ControlCode == "Postal_Code_Duplicate")
                                            {
                                                <input type="tel" pattern="[0-9]*" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" value="@control.StandardControl.DefaultValue" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="text-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@(control.InstanceWaterMark + ControlNoLabelRequired)" data-placeholder-notmobile="@control.InstanceWaterMark" data-placeholder-mobile="@control.InstanceMobileWaterMark" @(AutocompleteText) /><span class="required-with-no-label hide">@ControlNoLabelRequired</span>
                                            }
                                            else
                                            {
                                                <input type="text" controltypename="@ControlTypeName" step="@StepCount" section="@SectionCount" value="@control.StandardControl.DefaultValue" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="text-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@(control.InstanceWaterMark + ControlNoLabelRequired)" data-placeholder-notmobile="@control.InstanceWaterMark" data-placeholder-mobile="@control.InstanceMobileWaterMark" @(AutocompleteText) /><span class="required-with-no-label hide">@ControlNoLabelRequired</span>
                                            }

                                            @if (ControlCode == "Address" && isControlGroupSection)
                                            {
                                                startedGroup = true;
                                                <a href="javascript:fe_AddressSmartControlClick()" id="EditSmartAddress"><span id="EditSmartAddressText">Update City/State</span></a>
                                            }
                                        </div>
                                        if (ControlCode == "Address" && isControlGroupSection)
                                        {
                                            @:<div id="@(controlGroupSectionName)" style="display:none">
                                            }
                                            break;
                                        case "Drop-Down":
                                            <div class="field-holder @(control.StandardControl.FieldName == "Smart_Military_Affiliation" ? "radio" : "") @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName">
                                                @if (!string.IsNullOrEmpty(ControlLabel))
                                                {
                                                    <label for="@control.TemplateControlId" class="@(inlineDropDown?"inline-hidden-label":"")">
                                                        @(ControlLabel + ControlLabelRequired)
                                                    </label>
                                                }
                                                @if (control.StandardControl.FieldName == "Smart_Military_Affiliation")
                                                {
                                                    <fieldset>
                                                        <input type="radio" step="@StepCount" controltypename="Radio Buttons" value="Yes" id="military_yes" name="military_yesno" class="radio-field " @(control.IsRequired == true ? "required=required" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                        <label for="military_yes">Yes</label>
                                                        <input type="radio" step="@StepCount" controltypename="Radio Buttons" value="No" id="military_no" name="military_yesno" class="radio-field " @(control.IsRequired == true ? "required=required" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                        <label for="military_no">No</label>
                                                    </fieldset>
                                                }
                                                @if (control.StandardControl.FieldName == "Smart_Highest_Level_Of_Education_Completed")
                                                {
                                                    <fieldset>
                                                        @if (inlineDropDown)
                                                        {
                                                            @:<div class="inlineDropDown-wrapper">
                                                            }
                                                        <select step="@StepCount" controltypename="@ControlTypeName" section="@SectionCount" id="ddlHighestLevelNoCredits" id-sort="@control.RowSequence" name="ddlHighestLevelNoCredits" class="select-field @(inlineDropDown? "inlineDropDown":"")" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "")>
                                                            @if (IsPredefinedValueList)
                                                            {
                                                                <option value="" @(inlineDropDown ? "disabled=true selected=selected" : "")>@(inlineDropDown && !string.IsNullOrEmpty(ControlLabel) ? ControlLabel : "-- SELECT --")</option>

                                                                foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems.Where(p => !p.Text.Contains("Credits")))
                                                                {
                                                                    <option value="@item.Value" key="@item.Key" @(item.IsDefault == true ? "selected" : "")>@item.Text</option>
                                                                    //keep it in order add some credits after high school
                                                                    if (item.Text == "High School Diploma")
                                                                    {
                                                                        <option value="-1">Some College</option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                        @if (inlineDropDown)
                                                        {
                                                        @:</div>
                                                    }
                                                        @if (inlineDropDown)
                                                        {
                                                            @:<div class="inlineDropDown-wrapper">
                                                            }
                                                        <select step="@StepCount" controltypename="@ControlTypeName" section="@SectionCount" id="ddlHighestLevelCredits" id-sort="@control.RowSequence" name="ddlHighestLevelCredits" class="select-field @(inlineDropDown?"inlineDropDown":"")" label-name="@(ControlLabel)" style="display:none" )>
                                                            @if (IsPredefinedValueList)
                                                            {
                                                                <option value="" key="" @(inlineDropDown ? "disabled=true selected=selected" : "")>@(inlineDropDown && !string.IsNullOrEmpty(ControlLabel) ? ControlLabel : "--Select--")</option>

                                                                foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems.Where(p => p.Text.Contains("Credits")))
                                                                {
                                                                    <option value="@item.Value" key="@item.Key" @(item.IsDefault == true ? "selected" : "")>@item.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        @if (inlineDropDown)
                                                        {
                                                        @:</div>
                                                    }
                                                    </fieldset>
                                                }
                                                @if (inlineDropDown)
                                                {
                                                    @:<div class="inlineDropDown-wrapper">
                                                    }
                                                <select step="@StepCount" controltypename="@ControlTypeName" section="@SectionCount" value="@control.StandardControl.DefaultValue" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="select-field @(inlineDropDown? "inlineDropDown":"") @(typeahead? "typeahead select2":"") @(IsSearchablePredfinedValueList? "searchablePredfinedValueList":"")" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") @(control.StandardControl.FieldName == "Smart_Military_Affiliation" || control.StandardControl.FieldName == "Smart_Highest_Level_Of_Education_Completed" ? "style=display:none" : "")>
                                                    @if (IsPredefinedValueList)
                                                    {
                                                        <option value="" @(inlineDropDown ? "disabled=true selected=selected" : "")>@(inlineDropDown && !string.IsNullOrEmpty(ControlLabel) ? ControlLabel : DEFAULTDDLSELECTOPTION)</option>

                                                        if (IsSearchablePredfinedValueList)
                                                        {
                                                            foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems.Take(20).ToList())
                                                            {
                                                                <option value="@item.Value" key="@item.Key" @(item.IsDefault == true ? "selected" : "")>@item.Text</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems)
                                                            {
                                                                <option value="@item.Value" key="@item.Key" @(item.IsDefault == true ? "selected" : "")>@item.Text</option>
                                                            }
                                                        }
                                                    }
                                                    }
                                                </select>
                                                @if (inlineDropDown)
                                                {
                                                @:</div>
                                            }
                                            </div>
                                            break;
                                        case "Text Area":
                                            <div class="field-holder @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName">
                                                @if (!string.IsNullOrEmpty(ControlLabel))
                                                {
                                                    <label for="@control.TemplateControlId">
                                                        @(ControlLabel + ControlLabelRequired)
                                                    </label>
                                                }
                                                <input type="textarea" step="@StepCount" controltypename="@ControlTypeName" value="@control.StandardControl.DefaultValue" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="textarea-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") minlength="@control.StandardControl.MinLength" maxlength="@control.StandardControl.MaxLength" @(ValidationLibrary) placeholder="@control.InstanceWaterMark" />
                                            </div>
                                            break;
                                        case "Check Box":
                                            <div class="field-holder checkbox" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName" data-fieldholdercode="@ControlCode">
                                                <fieldset>
                                                    <input type="checkbox" step="@StepCount" controltypename="@ControlTypeName" value="@(ControlLabel)" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@control.TemplateControlId" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="checkbox-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") @(control.StandardControl.DefaultValue == ControlLabel ? "checked=checked" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                    <label for="@control.TemplateControlId">
                                                        @(ControlLabelRequired + ControlLabel)
                                                    </label>
                                                </fieldset>
                                            </div>
                                            break;
                                        case "Radio Buttons":
                                            <div class="field-holder radio @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName" style="@(IsCampusPreference || IsGreenCard ? " display:none" : "")">
                                                <!-- fieldset added by Helen -->
                                                <fieldset>
                                                    <legend for="@control.TemplateControlId">
                                                        @(ControlLabel + ControlLabelRequired)
                                                    </legend>

                                                    @if (IsPredefinedValueList)
                                                    {
                                                        if (control.StandardControl.StandardControlCode.Code == "CampusSoftPreference")
                                                        {
                                                            <div class="image-checkbox-group">
                                                                <ul class="image-checkbox">
                                                                    @foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems)
                                                                    {
                                                                        <li class="image-checkbox-field-holder @(item.Value.ToLower())">
                                                                            <a href="#"><div class="campus-preference-@(item.Value.ToLower())"></div></a>
                                                                            <input type="radio" step="@StepCount" controltypename="@ControlTypeName" value="@item.Value" key="@item.Key" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@(control.TemplateControlId + "_" + item.Value)" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="radio-field " label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") @(item.IsDefault == true ? "checked" : "") @(control.StandardControl.DefaultValue == ControlLabel ? "checked=checked" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems)
                                                            {

                                                                <input type="radio" step="@StepCount" controltypename="@ControlTypeName" value="@item.Value" key="@item.Key" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@(control.TemplateControlId + "_" + item.Value)" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="radio-field " label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") @(item.IsDefault == true ? "checked" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                                <label for="@(control.TemplateControlId + "_" + item.Value)">
                                                                    @item.Text
                                                                </label>
                                                            }
                                                        }
                                                    }
                                                </fieldset>
                                            </div>
                                            break;
                                        case "Multi Check Box List":
                                            <div class="field-holder @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName" style="@(control.StandardControl.FieldName == "DesiredGrad_Level_Of_Education" ? "display:none":"")">
                                                @if (!string.IsNullOrEmpty(ControlLabel))
                                                {
                                                    <label for="@control.TemplateControlId" class="question">
                                                        @(ControlLabel + ControlLabelRequired)
                                                    </label>
                                                }

                                                <fieldset>
                                                    @if (IsPredefinedValueList)
                                                    {
                                                        foreach (var item in control.StandardControl.PreDefinedValueList.ValueListItems)
                                                        {

                                                            <input type="checkbox" step="@StepCount" controltypename="@ControlTypeName" value="@item.Value" key="@item.Key" code="@ControlCode" alias="@control.StandardControl.StandardControlCode.CSVCodeAlias" id="@(control.TemplateControlId + "_" + item.Value)" id-sort="@control.RowSequence" name="@control.StandardControl.FieldName" class="checkbox-field" label-name="@(ControlLabel)" @(control.IsRequired == true ? "required=required" : "") @(item.IsDefault == true ? "checked" : "") @(IsMatchingEngineAdditionalField == true ? "me-filter=true" : "") />
                                                            <label for="@(control.TemplateControlId + "_" + item.Value)">
                                                                @item.Text
                                                            </label>
                                                        }
                                                    }
                                                </fieldset>
                                            </div>
                                            break;
                                        case "Label":
                                            <div class="field-holder @ControlCode" data-controlcode="@ControlCode" data-controltypename="@ControlTypeName">
                                                <input type="hidden" datatype="@control.StandardControl.StandardControlDataType.Name" code="@ControlCode" id="@control.TemplateControlId" name="@control.StandardControl.FieldName" />
                                                <label for="@control.TemplateControlId">
                                                    @(ControlLabel)
                                                </label>
                                            </div>
                                            break;
                                        case "Categories":
                                            <div class="field-holder interest-field @ControlCode" data-code="@ControlCode" data-controltypename="@ControlTypeName">
                                                <fieldset>
                                                    <legend> @(ControlLabel + ControlLabelRequired)</legend>
                                                    <ul class="featured-categories field-holder-group" code="@("Featured-" + ControlCode)" id-sort="@control.RowSequence"></ul>
                                                    <ul class="field-holder-group" code="@ControlCode" id-sort="@control.RowSequence">
                                                        <li>
                                                            Loading...
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                                <input type="hidden" id="@control.TemplateControlId" name="Categories_Selections" value="" label-name="@(ControlLabel)" controltypename="@ControlTypeName" @(control.IsRequired == true ? "required=required" : "") code="@ControlCode" id-sort="@control.RowSequence" />
                                            </div>
                                            break;
                                        case "SubCategories":
                                            <div class="field-holder interest-field has-scrollbar @ControlCode" data-code="@ControlCode" data-controltypename="@ControlTypeName">
                                                <fieldset>
                                                    <legend> @(ControlLabel + ControlLabelRequired)</legend>
                                                    <ul class="featured-subcategories field-holder-group" code="@("Featured-" + ControlCode)" id-sort="@control.RowSequence"></ul>
                                                    <ul class="field-holder-group" code="@ControlCode" id-sort="@control.RowSequence">
                                                        <li>
                                                            Loading...
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                                <input type="hidden" id="@control.TemplateControlId" name="SubCategories_Selections" value="" label-name="@(ControlLabel)" controltypename="@ControlTypeName" @(control.IsRequired == true ? "required=required" : "") code="@ControlCode" id-sort="@control.RowSequence" />
                                            </div>
                                            break;
                                        case "Specialties":
                                            <div name="field-holder" class="field-holder interest-field has-scrollbar @ControlCode" data-code="@ControlCode" data-controltypename="@ControlTypeName" data-rowsequence="@control.RowSequence" data-controlcode="@ControlCode">
                                                <fieldset>
                                                    <legend> @(ControlLabel + ControlLabelRequired)</legend>
                                                    <ul class="featured-specialties field-holder-group" code="@("Featured-" + ControlCode)" id-sort="@control.RowSequence"></ul>
                                                    <ul class="field-holder-group" code="@ControlCode" id-sort="@control.RowSequence">
                                                        <li>
                                                            Loading...
                                                        </li>
                                                    </ul>
                                                </fieldset>
                                                <input type="hidden" id="@control.TemplateControlId" name="Specialties_Selections" value="" label-name="@(ControlLabel)" controltypename="@ControlTypeName" @(control.IsRequired == true ? "required=required" : "") code="@ControlCode" id-sort="@control.RowSequence" step="@StepCount" />
                                            </div>
                                            break;
                                        default:
                                            <text>Control Code "@ControlCode" Type "@ControlTypeName" is not supported by Template "@Model.Template.TemplateName" RenderingStrategy "@Model.RenderingStrategy" </text>
                                            break;
                                    }
                                }
                            @{
                                if (isControlGroupSection && startedGroup)
                                {
                                @:</div>
                            }
                            }
                        </fieldset>
                    }
                    <div class="required-legend">* Required Field</div>

                    @if (StepCount == 1)
                    {
                        <div>
                            @{System.Web.Mvc.Html.ChildActionExtensions.RenderAction(this.Html, "CCPAMessage", "CCPA");}
                        </div>
                    }
                </div>
            }
            <!--Dynamic questions -->
            <div name="step" class="steps" id="Step@(StepCount + 1)" data-title="DynamicQuestions" data-step="@(StepCount + 1)" style="display:none">
                <div class="sections" id="Section1">
                </div>
                <div class="sections" id="DynamicQuestionsUserAgreementSection">
                </div>
            </div>

        </form>


        <div class="eddy-form-wizard-footer">
            <div class="form-submit-button previous clearfix" id="form-navback-button" style="display:none;">
                <span>BACK</span>
            </div>
            <div class="form-submit-button clearfix">
                <div id="wizard-form-submit-button" class="form-submit-button-l">
                    <div class="form-submit-button-r"><span id="form-submit-button-label">CONTINUE</span></div>
                </div>
            </div>
        </div><!-- end of #eddy-form-footer -->

    </div><!-- end of #eddy-form-container -->
</div><!-- end of #eddy-form-wizard-container -->
